@{
    ViewBag.Title = "Hakkımızda";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <br /> <br />
    <p>• Emlak Ofisi olarak emlakçı ve müşterileri bir araya getiyoruz.</p>
    <p>• Müşteri isen ilanlar menüsünden ilanları incele.</p>
    <p>• Emlakçıyım diyorsan bizimle iletişime geç ve ilanlarını yayınlamaya başla.</p>
    <p><h3>• Midyat Meslek Yüksek Okulunda Bilgisayar Programcılığı okursan böyle siteler yapmayı öğrenebilirsin.</p></h3>
</div>