@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <img src="https://cdn-icons-png.flaticon.com/512/2343/2343723.png" width="10%" />
    <br /> <br />
    <address>
        Emlak Ofisi<br />
        Emircan Kuduğ'un ofisi <br />
        Yeşilyurt / Adana<br />
        <abbr title="Phone">P:</abbr>
        0555555555555
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:ekudug50@gmail.com">ekudug50@gmail.com</a><br />
    </address>
</div>